<div class="container">
  <form #multiploForm="ngForm" (ngSubmit)="onSubmit(multiploForm)">
    <div class="form-group">
      <label for="numero">Ingrese un número: </label>
      <!-- En el input puse tipo number para un mejor manejo de datos -->
      <input ngModel name="numero" type="number" class="form-control" id="numero">
    </div>
    <button class="btn btn-primary">Mostrar multiplos</button><br>
  </form>
  <br>
  <div id="resultado" class="{{clase}}">
    <!-- Agregue un span solo para darle un tamaño de fuente mas grande desde css -->
    <span>{{numeroIngresado}}</span> {{multiplo}}
  </div>
  <br>
  <!-- Con property binding manipulo directamente la informacion del componente {{}} -->
  <div class="{{clase}}">
    <!-- Le puse un pipe json para presentar de manera sencilla el arreglo -->
    {{multiplosArray | json}}
  </div>
</div>
